:root {
    --var-black1: #161616;
    --var-black2: #333333;
    --var-black3: #747474;
    --var-black4: #cacaca;
}
@font-face {
    font-family: fancy;
    src: url("/fonts/CaviarDreams.ttf") format('truetype');
}
@font-face {
    font-family: plain;
    src: url("/fonts/Louis\ George\ Cafe\ Light.ttf") format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: plain;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
@keyframes hoverExpand {
    100% {
        font-size: 250%;
        scale: 125%;
        
    }
}
@keyframes popUpExpand {
    0% {
        opacity: 0%;
        scale: 1%;
    }
    25% {
        opacity: 25%;
        scale: 25%;
    }
    50% {
        opacity: 50%;
        scale: 50%;
    }
    100% {
        opacity: 100%;
        scale: 100%;
    }
}
body {
    background-color: #2c2c2c;
}


@media screen and (max-width: 830px) {
    .header {
        display: block;
        text-align: center;
        width: 100vw;
    }
    .nav {
        padding-block: 10px;
    }
    .nav a {
        font-size: 4vw;
    }
    .intro {
        background-attachment: local;
        background-size: 100%;
    }
    .intro span.fade {
        top:75%;
    }
    .projects {
        top: 30vw;
    }

    .about {
        top: 35vw;
    }
    .resume {
        top: 40vw;

    }
    .resume img {
        width: 100%;
    }
    .footer {
        top: 50vw;
        padding-inline: 20px;
    }
}


.header {
    position: fixed;
    display: grid;
    grid-template-columns: 12% 80% 8%;
    justify-content: center;
    align-items: center;
    z-index: 30;
    width: 100%;
    height: 8%;
    letter-spacing: 1px;
    background-color: var(--var-black1);
    color: white;
    align-items: center;
    box-shadow:0 0px 20px #161616;
}
.topname h1{
    font-family: fancy;
    font-size: clamp(1vw, 2vw, 3vw);
    padding-inline: 20px;
}
.nav {
    justify-self: right;
}
.nav a{
    font-family: fancy;
    font-size: clamp(1vw, 1.5vw, 3vw);
    padding-inline: 10px;
}
.nav a:hover {
    background-color: #ffffff;
    color: black;
    animation: hoverExpand 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.social {
    justify-self: center;
}
.social a img{
    filter: grayscale(100%);
    height: 35px;
    width: 35px;
}
.header img:hover{
    filter: sepia(100%) saturate(50%) brightness(80%) hue-rotate(250deg);
}


.intro {
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-rows: 33% 33% 34%;
    grid-template-columns: 100%;
    justify-items: left;
    height: min(50vw);
}
.intro p {
    font-size: clamp(1vw, 2.5vw, 3vw);
    position: relative;
    top: 40%;
    left: 10%;
    z-index: 20;
    color: white;
}   


.projects {
    box-shadow:0 0px 20px #161616;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; 
    justify-items: center;
    row-gap: 5vw;
    padding-block: 6vw;
}
.projects h2 {
    grid-column: 1 / 6 ;
    text-align: center;
    font-size: 3vw;
    text-shadow: 4px 3px 3px #1b1b1b;
    color: white;
}
.projects img{
    filter: sepia(100%) saturate(50%) brightness(80%) hue-rotate(250deg);
    width: 10vw;
    border: var(--var-oneblu);
    border-width: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #161616;
    border-style: solid;
}
.projects img:hover {
    filter: none;
    animation: hoverExpand 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.popup {
    opacity: 0;
    visibility: hidden;

    position:fixed;
    z-index: 15;

    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;

    top: 20%;
    left: 10%;
    height: 70vh;
    width: 75vw;

    box-shadow: 0 4px 8px #161616;
    background-color: var(--var-black3);
    padding: 35px;
}
.openPopup {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0) scale(1);
}
.popup h1 {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color:white;
    border:transparent;
    border-bottom: white;
    border-width: 2px;
    border-style: solid;
}
.popup p {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    color: white;
    font-size: 40px;
}
.popup a {
    font-size: xx-large;
    position: fixed;
    left:81%;
    top:15%;
}
.exitpop {
   position: fixed;
   top: 1%;
   right: 1%;
}
.exitpop img {
    border: none;
    box-shadow: none;
    width: 30px;
}


.about {
    display: grid;


    grid-template-columns: 15% 35% 50%;
    grid-template-rows: auto; 
    justify-items: center;
    align-items: center;

    row-gap: 5vw;
    padding-block: 5vw;

    position: relative;
    color: white;
}
.about h1 {
    grid-column: 0/4;
    padding-left: 2vw;
    font-size: 3vw;
    text-shadow: 4px 3px 3px #1b1b1b;
}
.about img {
    width: 70%;
    grid-column: 0;
}
.about br {
    grid-row: 1/5;
}
.about span {
    box-shadow: 0 5px 10px #161616;
    background: rgb(59, 76, 95, 25);
    padding: 10px;
    border: #252a45;
    border-radius: 8px;    
    border-style: solid;
    font-size: clamp(0.5vw, 1.5vw, 2vw)
}
#natureshot {
    grid-column: 1/5;
    grid-row: 2;
}

.resume {
    position: relative;
    display: grid;
    box-shadow:0 0px 20px #161616;

    grid-template-rows: 10% 3% 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    padding-bottom: 8vw;
    column-gap: 5vw;
}
.resume h1 {
    font-size: 3vw;
    grid-column: 1/3;
    color: white;
    text-shadow: 4px 3px 3px #1b1b1b;
}
.resume img {
    box-shadow: 5px 5px 10px #161616;

    grid-column: 1/3;
    background-color: var(--var-threeblu);
    width: 50;
}
.resume a{
    padding: 5px;
    background-color: var(--var-fiveblu);
}
#pdf {
    justify-self: right;
}
#docx {
    justify-self: left;
}
.resume a:hover {
    color: #252a45;
}


.footer {
    background-color: var(--var-threeblu);
    box-shadow:0 0px 20px #161616;

    position: relative;
    display: grid;
    grid-template-columns: 40% 5% 5% 5% 40%;
    grid-template-rows: 100% 100%;
    column-gap: 10px;
    padding-block: 5vw;
    justify-items: center;
}
.footer img:hover {
    filter: sepia(100%) saturate(50%) brightness(80%) hue-rotate(250deg);
}
.footer a img {
    width: 4vh;
    height: 4vh;
}
.footer #repolink {
    grid-column: 1/6;
    grid-row: 2;
}
#repolink:hover {
    color: #252a45;
}