:root {
    --var-oneblu: #70a5af;
    --var-twoblu: #557f8e;
    --var-threeblu: #435c6a;
    --var-fourblu: #3b4c5f;
    --var-fiveblu: #2f3d55;
    --var-sixblu: #252a45;
}
@font-face {
    font-family: Josefin;
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: Inconsolata;
    src: url("/fonts/Inconsolata-VariableFont_wdth\,wght.ttf") format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Josefin, sans-serif;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
@keyframes hoverExpand {
    100% {
        font-size: 250%;
        scale: 125%;
        
    }
}
@keyframes popUpExpand {
    0% {
        opacity: 0%;
        scale: 1%;
    }
    25% {
        opacity: 25%;
        scale: 25%;
    }
    50% {
        opacity: 50%;
        scale: 50%;
    }
    100% {
        opacity: 100%;
        scale: 100%;
    }
}
body {
    background-color: var(--var-sixblu);
}


.header {

    position: fixed;
    display: grid;
    grid-template-columns: 10vh 30% 40% 25%;
    justify-content: center;
    align-items: center;
    z-index: 30;
    width: 100%;
    letter-spacing: 1px;
    background-color: var(--var-threeblu);
    color: white;
    align-items: center;
    box-shadow:0px 4px var(--var-sixblu);
}
.sitelogo a img{

    height: 10vh;
    width: 10vh;
}
.topname h1{
    text-shadow: 4px 3px 3px #1b1b1b;
    font-size: clamp(1vw, 2.5vw, 4vw);
    padding-inline: 20px;
}
.nav a{
    text-shadow: 3px 2px 2px #1b1b1b;
    font-size: clamp(1vw, 1.5vw, 3vw);
    padding-inline: 10px;
}
.nav a:hover {
    background-color: #ffffff;
    color: black;
    animation: hoverExpand 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.social {
    justify-self: right;
    margin-inline: 10px;
}
.social a img{
    height: 30px;
    width: 30px;
}

.header img:hover{
    filter: sepia(100%) saturate(50%) brightness(80%) hue-rotate(250deg);
}



@media screen and (max-width: 830px) {
    .header {
        display: block;
        text-align: center;
        width: 100vw;
    }
    .nav {
        padding-block: 10px;
    }
    .nav a {
        font-size: 4vw;
    }
    .intro {
        background-attachment: local;
        background-size: 100%;
    }
    .intro span.fade {
        top:75%;
    }
    .projects {
        top: 30vw;
    }

    .about {
        top: 35vw;
    }
    .resume {
        top: 40vw;

    }
    .resume img {
        width: 100%;
    }
    .footer {
        top: 50vw;
        padding-inline: 20px;
    }
}




.intro {
    background-image: url(/images/wideshot3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: min(54vw);
}
.intro img {
    margin-top: 2vh;
    position: absolute;
    z-index: 5;
    width: 100%;
}
.intro span { 
    font-size: clamp(2vw, 4vw, 6vw);
    padding-block: 2vw;

    color:#ffffff;
    text-shadow: 4px 3px 3px #1b1b1b;
    
    position: relative;
    z-index: 10;
    top: 20vh;

    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(40px);
}
.intro span.fade {
    opacity: 1;
    transform: translateY(0px);
}
.intro span:nth-child(12) {
    display: block;
}
.intro span:nth-child(32) {
    display: block;
}







.projects {
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto; 
    justify-items: center;
    row-gap: 5vw;
    margin-block: 2vw;

}
.projects h2 {
    grid-column: 1 / 6 ;
    text-align: center;
    font-size: 3vw;
    text-shadow: 4px 3px 3px #1b1b1b;
    color: white;
}
.projects a img{
    filter: sepia(100%) saturate(50%) brightness(80%) hue-rotate(250deg);
    width: 10vw;
    border: var(--var-oneblu);
    border-width: 5px;
    border-style: solid;
}
.projects a img:hover {
    filter: none;
    animation: hoverExpand 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.popup {
    opacity: 0;
    visibility: hidden;

    position:fixed;
    z-index: 15;

    top: 20%;
    left: 10%;
    height: 70vh;
    width: 75vw;

    padding: 35px;
    background-image: linear-gradient(to bottom, rgb(58, 58, 58) 0%, rgb(179, 179, 179) 100%), linear-gradient(to bottom, #4f4444, #7e6a6a 100%);
    background-clip: content-box, padding-box;
}
.popup h1 {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color:white;
    border:transparent;
    border-bottom: white;
    border-width: 2px;
    border-style: solid;


}
.popup p {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    color: white;
    font-size: 40px;
}
.popup a {

    font-size: xx-large;
    position: fixed;
    left:81%;
    top:15%;
    color: maroon;
}
.popup:target {
    animation: popUpExpand 0.s;
    animation-fill-mode: forwards;
    visibility: visible;
}




.about {
    display: grid;
    background-image: url(/images/natureshot.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    grid-template-columns: 15% 35%;
    grid-template-rows: auto; 
    justify-items: center;
    align-items: center;

    row-gap: 5vw;
    margin-block: 7vw;
    padding-block: 5vw;

    position: relative;
    color: white;
}
.about h1 {
    grid-column: 0/2;
    padding-left: 2vw;
    font-size: 3vw;
    text-shadow: 4px 3px 3px #1b1b1b;
}
.about img {
    width: 70%;

}
.about br {
    grid-row: 1/5;
}
.about span {
    background: rgb(59, 76, 95, 25);
    padding: 10px;
    
    
    font-size: clamp(0.5vw, 1.5vw, 2vw)
}




.resume {
    position: relative;
    display: grid;
    grid-template-rows: 10% 3% 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    margin-bottom: 8vw;
    column-gap: 5vw;
}
.resume h1 {
    font-size: 3vw;
    grid-column: 1/3;
    color: white;
    text-shadow: 4px 3px 3px #1b1b1b;
}
.resume img {
    grid-column: 1/3;
    background-color: var(--var-threeblu);
    width: 50;
}
.resume a{
    padding: 5px;
    background-color: var(--var-fiveblu);
}
#pdf {
    justify-self: right;
}
#docx {
    justify-self: left;
}
.resume a:hover {
    color: #252a45;
}

.footer {
    background-color: var(--var-threeblu);
    position: relative;
    display: grid;
    grid-template-columns: 40% 5% 5% 5% 40%;
    grid-template-rows: 100% 100%;
    column-gap: 10px;
    margin-top: 5vw;
    padding-block: 5vw;
    justify-items: center;
}
.footer img:hover {
    filter: sepia(100%) saturate(50%) brightness(80%) hue-rotate(250deg);
}
.footer a img {
    width: 4vh;
    height: 4vh;
}
.footer #repolink {
    grid-column: 1/6;
    grid-row: 2;
}
#repolink:hover {
    color: #252a45;
}